---
import type { Project } from "@/types";
import { Icon } from "astro-icon/components";

type Props = {
	projects: Project[];
};

const { projects: featuredProjects } = Astro.props;

const tabkeeperUserCount: string = await fetch(
	"https://project-metrics-flask.onrender.com/extensions/gpibgniomobngodpnikhheifblbpbbah/usercount"
)
	.then((res) => res.json())
	.then(
		(res) =>
			res.users ||
			featuredProjects.filter((p) => p.title === "Tab Keeper (Featured on Web Store)")[0]!.metrics
				?.users ||
			"520"
	);
---

<ul class="list-inside list-disc space-y-8">
	{
		featuredProjects.map((project) => (
			<li class="group flex list-none flex-col-reverse items-start gap-y-2 sm:flex-row sm:gap-x-4">
				<a
					class="mb-2 py-0 sm:mb-0 sm:py-1"
					target="_blank"
					rel="noopener noreferrer"
					href={project.links.github}
				>
					<img
						class="flex h-fit w-[14rem] min-w-[12rem] rounded-[0.2rem] border border-textColor/20 transition-all sm:w-[12rem] sm:brightness-90 sm:group-hover:border-textColor/25 sm:group-hover:brightness-100"
						src={project.thumbnail}
						alt={project.title}
					/>
				</a>
				<div class="flex flex-col items-start">
					<a
						target="_blank"
						rel="noopener noreferrer"
						class="cactus-link-mobile inline-block flex-row font-semibold group-hover:cactus-link-mobile sm:cactus-link"
						href={project.links.github}
					>
						{project.title}
						<Icon
							class="inline-block h-4 w-4 -translate-y-[0.05rem] transition-transform group-hover:-translate-y-1 group-hover:translate-x-1 group-hover:text-accent"
							name="ri:arrow-right-up-line"
							aria-hidden="true"
							focusable="false"
						/>
					</a>
					<p class="project-description mt-2 line-clamp-3 block">{project.description}</p>
					{project.metrics && project.metrics.users && (
						<a
							class="mb-0 mt-2 flex flex-row items-center justify-start sm:hover:text-accent"
							href={project.links.storepage}
							target="_blank"
							rel={`noopener noreferrer`}
						>
							<Icon
								class="me-2 h-4 w-4 -translate-y-[0.05rem]"
								name="ri:group-fill"
								aria-hidden="true"
								focusable="false"
							/>
							<p class="project-metrics">
								{project.title.includes("Tab Keeper")
									? `${tabkeeperUserCount}`
									: project.metrics!.users}
								weekly active users
							</p>
							<span class="sr-only">{"Weekly Active Users Count"}</span>
						</a>
					)}
					<div class="mt-2.5">
						{project.technologies.map((tech: string) => (
							<span class="technologies">{tech}</span>
						))}
					</div>
				</div>
			</li>
		))
	}
</ul>
