---
import type { Project } from "@/types";
import type { HTMLTag, Polymorphic } from "astro/types";
import externalArrow from "@/assets/external_arrow.svg?raw";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
	project: Project;
};

const { project, as: Tag = "div" } = Astro.props;
---

<Tag>
	<a
		target="_blank"
		rel="noopener noreferrer"
		class="group cactus-link-mobile inline-block text-[1.04rem] sm:cactus-link sm:text-[1.04rem]"
		title={`View ${project.title} on GitHub`}
		href={project.links.github}
	>
		{project.title}
		<span
			class="inline-block transition-transform group-hover:-translate-y-1 group-hover:translate-x-1 sm:group-hover:text-accent"
			set:html={externalArrow}
		/>
	</a>
</Tag>
<p class="line-clamp-3 block">{project.description}</p>
<div>
	{
		project.technologies.map((tech: string, i: number) => (
			<span class="mb-0 mr-1 inline-block rounded-full px-0.5 py-0 font-mono text-sm text-accent sm:text-sm">
				{tech}
				{i !== project.technologies.length - 1 && "•"}
			</span>
		))
	}
</div>
