---
import type { Project } from "@/types";
import type { HTMLTag, Polymorphic } from "astro/types";
import externalArrow from "@/assets/external_arrow.svg?raw";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
	project: Project;
};

const { project, as: Tag = "div" } = Astro.props;
---

<Tag>
	<a
		target="_blank"
		rel="noopener noreferrer"
		class="cactus-link-mobile inline-block font-semibold group-hover:cactus-link-mobile sm:cactus-link"
		href={project.links.github}
	>
		{project.title}
		<span
			class="inline-block -translate-y-[0.00rem] transition-transform group-hover:-translate-y-1 group-hover:translate-x-1 group-hover:text-accent"
			set:html={externalArrow}
		/>
	</a>
</Tag>
<p class="project-description line-clamp-3 block">{project.description}</p>
<a
	class="mb-2 py-0 sm:mb-0 sm:py-1"
	target="_blank"
	rel="noopener noreferrer"
	href={project.links.github}
>
	<img
		class="border-thumbnailBorderColor sm:group-hover:border-thumbnailBorderColor flex h-fit w-[22rem] min-w-[20rem] rounded-[0.4rem] border transition-all sm:w-[26rem] sm:brightness-95 sm:group-hover:brightness-100"
		src={project.thumbnail || project.ogImageLink}
		alt={project.title}
	/>
</a>
<div>
	{project.technologies.map((tech: string) => <span class="technologies">{tech}</span>)}
</div>
