---
// import { Image } from "astro:assets";
import { Icon } from "astro-icon";
import SocialList from "@/components/SocialList";
import PageLayout from "@/layouts/Base";
// import aboutImg from "@/assets/about-astro.png";
import { resumeLink } from "@/site-config";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};

const technicalSkills: Array<{
	name: string;
	icon: string;
	skills: Array<string>;
}> = [
	{
		name: "Languages",
		icon: "mdi:language",
		skills: ["Java", "Python", "TypeScript", "JavaScript", "SQL", "C/C++", "Bash"],
	},
	{
		name: "Backend",
		icon: "mdi:server",
		skills: ["Spring Framework", "Apache Kafka", "Node.js", "Express", "JUnit", "OAuth2"],
	},
	{
		name: "Databases",
		icon: "mdi:database",
		skills: ["PostgreSQL", "MongoDB", "Oracle SQL", "MySQL", "Cassandra", "Redis"],
	},
	{
		name: "DevOps",
		// icon: "mdi:source-branch",
		icon: "mdi:cogs",
		skills: ["Docker", "GitHub Actions", "Jenkins", "Prometheus", "Grafana", "Terraform"],
	},
	{
		name: "Cloud Platforms",
		icon: "mdi:cloud",
		skills: ["Google Cloud Platform (GCP)", "Amazon Web Services (AWS)"],
	},
	{
		name: "Frontend",
		icon: "mdi:monitor-dashboard",
		skills: ["Next.js", "Astro", "React", "Redux", "Emotion CSS", "Tailwind CSS", "Jest"],
	},
];
---

<PageLayout meta={meta}>
	<section class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Welcome to my space! As a software engineer with three years of
			<a
				target="_blank"
				rel="noopener noreferrer"
				class="cactus-link inline-block"
				href={resumeLink}
				href="/experiences">work experience</a
			>, I returned to school to pursue an M.S. in Computer Science with a concentration on systems
			at the University of Texas at Dallas (May '24). I am passionate about building scalable and
			reliable backend systems and have a keen interest in distributed systems and cloud computing.
		</p>
		<!-- <p>
			I am driven by the right amount of challenge and have a continuous appetite for growth.
			Currently, I am seeking a Software Engineer position, where I can contribute to businesses
			aiming to scale from 0 to 1. Additionally, I am adept at adding value to existing products by
			adopting a customer-centric approach, one of my most significant strengths.
		</p> -->
	</section>
	<section class="mt-10 space-y-6">
		<div>
			<p class="title mb-4 text-xl">Technical Skills:</p>
			<ul class="list-inside list-disc space-y-2">
				{
					technicalSkills.map((section) => (
						<li>
							{section.name}
							<Icon
								class="inline-block h-6 w-6"
								name={section.icon}
								aria-hidden="true"
								focusable="false"
							/>
							- {section.skills.join(", ")}
						</li>
					))
				}
			</ul>
		</div>
		<p>
			<a
				target="_blank"
				rel="noopener noreferrer"
				href={resumeLink}
				aria-label="View my resume"
				class="cactus-link inline-block">View my resume</a
			>
		</p>
	</section>

	<section class="mt-10 space-y-6">
		<p>
			Please feel free to drop me a message if you want to chat about the latest in tech, brainstorm
			opportunities, or simply share some cool pet pics. I'm all about building new professional
			relationships and seeing where our conversations take us. Let's connect!
		</p>
		<SocialList />
	</section>

	<!-- <div class="flex justify-center">
			<Image
				src={aboutImg}
				alt="A cartoon cactus looking at the 'Astro.build' logo"
				loading="eager"
				fetchpriority="high"
			/>
		</div> -->
	<!-- <p>Here are my some of my awesome built in features:</p>
		<ul class="list-inside list-disc">
			<li>I'm ultra fast as I'm a static site</li>
			<li>I'm fully responsive</li>
			<li>I come with a light and dark mode</li>
			<li>I'm easy to customise and add additional content</li>
			<li>I have Tailwind CSS styling</li>
			<li>Shiki code syntax highlighting</li>
			<li>Satori for auto generating OG images for blog posts</li>
		</ul> -->
</PageLayout>
