---
import { Icon } from "astro-icon";
import { resumeLink } from "@/site-config";
// import externalArrow from "@/assets/external_arrow.svg?raw";

/** 
	Uses https://github.com/natemoo-re/astro-icon#readme
	Find icons @ https://icones.js.org/
*/
const socialLinks: Array<{
	name: string;
	friendlyName: string;
	link: string;
	isWebmention?: boolean;
}> = [
	{
		name: "ri:github-fill",
		friendlyName: "GitHub",
		link: "https://www.github.com/justine-george/",
	},
	{
		name: "ri:linkedin-box-fill",
		friendlyName: "LinkedIn",
		link: "https://www.linkedin.com/in/justine-george/",
	},
	{
		name: "ri:mail-fill",
		friendlyName: "Email",
		link: "mailto:justine.george.work@gmail.com",
		isWebmention: true,
	},
	{
		name: "ri:twitter-fill",
		friendlyName: "Twitter",
		link: "https://twitter.com/jgeorge____",
	},
	{
		name: "ri:phone-fill",
		friendlyName: "Phone",
		link: "tel:+19452096665",
	},
	// {
	// 	name: "ri:instagram-fill",
	// 	friendlyName: "Instagram",
	// 	link: "https://www.instagram.com/justine.george__",
	// },
];
---

<div class="me-6 flex flex-wrap items-end justify-between gap-x-4 gap-y-8">
	<p>
		<a
			target="_blank"
			rel="noopener noreferrer"
			href={resumeLink}
			aria-label="View my resume"
			class="group cactus-link-mobile inline-block"
			>View my résumé
			<!-- <span
				class="inline-block transition-transform group-hover:-translate-y-1 group-hover:translate-x-1 group-hover:text-accent"
				set:html={externalArrow}
			/> -->
			<Icon
				class="inline-block h-4 w-4 transition-transform group-hover:-translate-y-1 group-hover:translate-x-1 group-hover:text-accent"
				name="ri:arrow-right-up-line"
				aria-hidden="true"
				focusable="false"
			/>
		</a>
	</p>
	<ul class="flex flex-initial items-center gap-x-2">
		{
			socialLinks.map(({ link, name, friendlyName, isWebmention }) => (
				<li class="flex">
					<a
						class="inline-block p-1 transition-transform hover:-translate-y-1 sm:hover:text-link"
						href={link}
						target="_blank"
						title={friendlyName}
						rel={`noopener noreferrer ${isWebmention ? "me authn" : ""}`}
					>
						<Icon class="h-6 w-6" name={name} aria-hidden="true" focusable="false" />
						<span class="sr-only">{friendlyName}</span>
					</a>
				</li>
			))
		}
	</ul>
</div>
