---
import { Icon } from "astro-icon/components";
import type { IconifyMetadata } from "@/types";

/** 
	Uses https://github.com/natemoo-re/astro-icon#readme
	Find icons @ https://icones.js.org/
*/

const iconMeta: IconifyMetadata = {
	type: "fill",
	from: "ri",
};

const socialLinks: Array<{
	name: string;
	friendlyName: string;
	link: string;
	isWebmention?: boolean;
}> = [
	{
		name: `${iconMeta.from}:file-text-${iconMeta.type}`,
		friendlyName: "View Full Resume",
		link: "https://www.jgeorge.dev/docs/Justine_George_SoftwareEngineer_Resume.pdf",
	},
	{
		name: `${iconMeta.from}:github-${iconMeta.type}`,
		friendlyName: "GitHub",
		link: "https://www.github.com/justine-george/",
	},
	{
		name: `${iconMeta.from}:linkedin-box-${iconMeta.type}`,
		friendlyName: "LinkedIn",
		link: "https://www.linkedin.com/in/justine-george/",
	},
	{
		name: `${iconMeta.from}:mail-${iconMeta.type}`,
		friendlyName: "Email",
		link: "mailto:justine.george.work@gmail.com",
		isWebmention: true,
	},
	{
		name: `${iconMeta.from}:phone-${iconMeta.type}`,
		friendlyName: "Phone",
		link: "tel:+19452096665",
	},
	{
		name: `${iconMeta.from}:twitter-x-${iconMeta.type}`,
		friendlyName: "Twitter",
		link: "https://twitter.com/jgeorge____",
	},
	// {
	// 	// name: `mdi:file-pdf-box`,
	// 	name: `${iconMeta.from}:file-download-${iconMeta.type}`,
	// 	friendlyName: "Resume",
	// 	link: "https://www.jgeorge.dev/docs/Justine_George_SoftwareEngineer_Resume.pdf",
	// },
	// {
	// 	name: `${iconMeta.from}:instagram-${iconMeta.type}`,
	// 	friendlyName: "Instagram",
	// 	link: "https://www.instagram.com/justine.george__",
	// },
];
---

<div class="me-6 flex flex-wrap items-end justify-between gap-x-4 gap-y-8">
	<p>
		<a
			href={`/experience`}
			aria-label="Read more about my work experience"
			class="group cactus-link-mobile inline-block"
			data-astro-prefetch
			>Work Experience
			<Icon
				class="ms-0.5 inline-block h-4 w-4 -translate-y-[0.05rem] transition-transform group-hover:translate-x-1.5 group-hover:text-accent"
				name={`ri:arrow-right-line`}
				aria-hidden="true"
				focusable="false"
			/>
		</a>
	</p>
	<ul class="flex flex-initial items-center gap-x-2">
		{
			socialLinks.map(({ link, name, friendlyName, isWebmention }) => (
				<li class="flex">
					<a
						class="inline-block p-1 transition-transform hover:-translate-y-0.5 sm:hover:text-link"
						href={link}
						target="_blank"
						title={friendlyName}
						rel={`noopener noreferrer ${isWebmention ? "me authn" : ""}`}
					>
						<Icon
							class={friendlyName === "Twitter" ? "h-6 w-6" : "h-6 w-6"}
							name={name}
							aria-hidden="true"
							focusable="false"
						/>
						<span class="sr-only">{friendlyName}</span>
					</a>
				</li>
			))
		}
	</ul>
</div>
