---
import PageLayout from "@/layouts/Base";
import { projects } from "@/site-config";

const meta = {
	title: "All Projects",
	description: "A list of more important projects I've done",
};

const allProjects = projects.filter((project) => !project.isDisabled);
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">Projects</h1>
	<section class="space-y-6">
		<ul class="list-inside list-disc space-y-4">
			{
				allProjects.map((project) => (
					<li>
						<a
							target="_blank"
							rel="noopener noreferrer"
							class="cactus-link inline-block"
							href={project.links.demo || project.links.github}
						>
							{project.title}
						</a>
						- {project.description}
					</li>
				))
			}
		</ul>
	</section>
	<!-- <ul class="space-y-4">
		{
			allTags.map(([tag, val]) => (
				<li class="flex items-center gap-x-2">
					<a
						class="cactus-link inline-block"
						href={`/tags/${tag}/`}
						title={`View posts with the tag: ${tag}`}
						data-astro-prefetch
					>
						&#35;{tag}
					</a>
					<span class="inline-block">
						- {val} Post{val > 1 && "s"}
					</span>
				</li>
			))
		}
	</ul> -->
</PageLayout>
