---
import type { CollectionEntry } from "astro:content";
import type { HTMLTag, Polymorphic } from "astro/types";
// import FormattedDate from "../FormattedDate.astro";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
	post: CollectionEntry<"post">;
	withDesc?: boolean;
};

const { post, as: Tag = "div", withDesc = true } = Astro.props;
// const postDate = post.data.updatedDate ?? post.data.publishDate;
const postTitleClasses = `sm:cactus-link cactus-link-mobile font-semibold group-hover:cactus-link-mobile inline-block${
	Tag === "h2" ? "" : ""
}`;
const postDescriptionClasses = `line-clamp-3 block post-description${Tag === "h2" ? "" : ""}`;
---

<!-- <FormattedDate date={postDate} class="min-w-[120px] text-gray-600 dark:text-gray-400" /> -->
<Tag>
	{post.data.draft && <span class="text-red-500">(Draft) </span>}
	<a href={`/posts/${post.slug}/`} class={postTitleClasses} data-astro-prefetch>
		{post.data.title}
	</a>
</Tag>
{withDesc && <q class={postDescriptionClasses}>{post.data.description}</q>}
